* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 650px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 30px;
}

.btn {
  background-color: skyblue;
  color: white;
  padding: 20px;
  height: 30px;
}

.btn-container {
  margin: auto;
}

.user{
    
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
}
